/* Add your custom styles here */
body {
    background-color: #222;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
  
  }
/* ... */
header {
    background-color: #222;
    color: white;
    padding: 1rem 0;
    text-align: center;
  }
  
  .animated-title {
    opacity: 0;
  }
  
  